name: Liquid
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        entry:
          - { ruby: 2.7 }
          - { ruby: 3.2 }
    name: test (${{ matrix.entry.ruby }})
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.entry.ruby }}
      - uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('Gemfile') }}
          restore-keys: ${{ runner.os }}-gems-
      - run: bundle install --jobs=3 --retry=3 --path=vendor/bundle
      - run: bundle exec rake
